.sidebar {
  position: relative;
  margin: 80px 0;
  overflow: hidden;
  padding: 16px 0;
  border: 1px solid lightgray;
  min-height: 50vh;
  border-radius: 16px;
}

.button {
  position: absolute;
  z-index: 2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.image {
  left: 0;
  position: absolute;
  width: 500px;
  max-width: 80vw;
  border-radius: 16px;
}
