.main {
  display: flex;
  flex-direction: column;
  background-color: #d8f2ec;
  padding: 6rem;
}

.title {
  width: max-content;
  max-width: 80%;
  text-align: center;
  font-size: 48px;
  margin: 20px auto 40px;
}

.subtitle {
  margin: 40px auto;
  font-size: 32px;
  line-height: 120%;
  width: max-content;
  max-width: 80%;
  text-align: center;
}

.description {
  font-weight: 600;
}

.descriptionItem {
  margin-bottom: 16px;
}

.listTitle {
  cursor: pointer;
  font-size: 20px;
}

.listTitle:focus {
  outline: none;
}

.list {
  padding: 0;
}

.listItem {
  max-width: 80%;
  list-style: none;
  color: black;
  border-radius: 8px;
  background-color: lightblue;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.buttons {
  display: flex;
  gap: 16px;
  margin: 16px 0;
}

.button {
  padding: 8px 16px;
  background-color: turquoise;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.15s ease-out;
}

.button:hover {
  background-color: aqua;
}

.scrollSection {
  margin-top: 100px;
}

.scrollBlocks {
  padding: 100px 180px;
  display: flex;
  justify-content: space-between;
}

.exit {
  margin: 50px;
  border: 1px solid black;
  font-size: 20px;
  background-color: darkslategrey;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  overflow: hidden;
}

.show {
  margin: 50px 0;
  width: 250px;
  height: 50px;
  background-color: darkseagreen;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.divWrapper {
  width: max-content;
  margin: 50px auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

.controledDiv {
  width: 150px;
  height: 150px;
  background-color: #12de7b;
  border: 1px solid grey;
  border-radius: 8px;
  cursor: pointer;
}

.hookButton {
  height: 50px;
  width: 200px;
  background-color: aquamarine;
  border: 1px solid grey;
  border-radius: 16px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 20px 16px;
  }

  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 24px;
  }

  .scrollBlocks {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 8px;
  }

  .buttons {
    flex-direction: column;
    gap: 8px;
  }

  .exitSection {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .exit,
  .show {
    margin: 0;
  }

  .divWrapper {
    flex-direction: column;
  }
}
